p {
    visibility: hidden;
    width: 240px;
    opacity: 0;
    transition: 0.6s;
    transform: translateX(-200px);
}

.show-response {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

button {
    padding: 4px 10px;
    margin-right: 6px;
    border-radius: 20px;
    border: 1px solid black;
}